[api]
port = 8080
enableapi = True

[serial]
baudrate = 9600
xbeeport = /dev/tty.usbserial-DN01IOL6
usbport = '/dev/cu.usbserial-DN01IUNK'
xbeesh = 0013A200
xbeesl = 4103DC85

[logging]
logmode = 0

[database]
usemongo = True
mongoconnectionstring = mongodb://localhost:27017

[host]
enableradioaes = True
radiokeys = ["this is a key123","this is a key123", "this is a key123", "this is a key123", "this is a key123"]
enablemessageaes = True
messagekeys = ["this is a key123","this is a key123", "this is a key123", "this is a key123", "this is a key123"]
id = 58fea57edf86c05a70bc1a98

