[api]
Port = 8080
EnableApi = True

[serial]
BaudRate = 9600
XBeePort = '/dev/cu.usbserial-DN01IUNK'
UsbPort = '/dev/cu.usbserial-DN01IUNK'

[logging]
LogMode = 0

[database]
UseMongo = True
MongoConnectionString = mongodb://admin:g0KTAY6MrcIj2KBPO2jq@cluster0-shard-00-00-f2uhz.mongodb.net:27017,cluster0-shard-00-01-f2uhz.mongodb.net:27017,cluster0-shard-00-02-f2uhz.mongodb.net:27017/Lio?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin